<div class="wrapper">
    <div class="content">
        <div class="title">
            Here Are What We Think You Might Like
        </div>
        <div *ngFor="let card of cards; let i = index">
            <div *ngIf="i % 3 == 0" class="row">
              <div class='card'  >
                <div class="img">
                    <img src='assets/ngo-image.svg'>
                </div>
                <div class="info">
                    <div class="date">
                        {{card['start_date_time']}}
                    </div>
                    <div class="name">
                        {{card['opportunity_name']}}
                    </div>
                    <div class="skills">
                        Locations: {{card['location']}}
                    </div>
                    <div class="more">
                        MORE INFO
                    </div>
                </div> 
                </div>
              <div class='card'  *ngIf="i + 1 < cards.length" >
                <div class="img">
                    <img src='assets/ngo-image.svg'>
                </div>
                <div class="info">
                    <div class="date">
                        {{cards[i+1]['start_date_time']}}
                    </div>
                    <div class="name">
                        {{cards[i+1]['opportunity_name']}}
                    </div>
                    <div class="skills">
                        Locations: {{cards[i+1]['location']}}
                    </div>
                    <div class="more">
                        MORE INFO
                    </div>
                </div>
                </div>
                <div class='card'  *ngIf="i + 2 < cards.length" >
                    <div class="img">
                        <img src='assets/ngo-image.svg'>
                    </div>
                    <div class="info">
                        <div class="date">
                            {{cards[i+2]['start_date_time']}}
                        </div>
                        <div class="name">
                            {{cards[i+2]['opportunity_name']}}
                        </div>
                        <div class="skills">
                            Locations: {{cards[i+2]['location']}}
                        </div>
                        <div class="more">
                            MORE INFO
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="submit">
            <div class="btn" routerLink='/profile'>
                <div class="btn-text">
                    NEXT
                </div>
            </div>
        </div>
    </div>
</div>
